<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title>Polybee | <%= title %></title>
    </head>

    <body>
        <div class="main-grid-container">
            <div class="sub-grid-container">
                <div class="grid-item item-1"></div>
                <div class="grid-item item-2"></div>
                <div class="grid-item item-3"></div>
                <div class="grid-item item-4"></div>
                <div class="grid-item item-5"></div>
                <div class="grid-item item-6"></div>
                <div class="grid-item item-7"></div>
                <div class="grid-item item-8"></div>
                <div class="grid-item item-9"></div>
            </div>
        </div>

        <script>
            function changeColour(weather, item) {
                if (weather == "Clear") {
                    item.style.backgroundColor = "lightblue"
                } else if (weather == "Clouds") {
                    item.style.backgroundColor = "grey"
                } else {
                    item.style.backgroundColor = "blue"
                }
            }
            const items = document.getElementsByClassName('grid-item');
            for (let item of items) {
                item.addEventListener('click', e => {
                    const childList = item.firstChild;

                    var input = document.createElement('input');
                    input.type = 'text';
                    input.defaultValue = item.textContent;
                    input.addEventListener("keyup", async e => {
                        if (e.keyCode == 13) {
                            const endpoint = `https://api.openweathermap.org/data/2.5/weather?q=${input.value}&appid=7d7bb0af43748b88ab08a9945fa1d241`;
                            fetch(endpoint, {
                                method: 'GET',
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.cod == "404") {
                                    throw Error(data.message);
                                } else {
                                    e.preventDefault();
                                    item.textContent = input.value;
                                    changeColour(data.weather[0].main, item);
                                }
                            })
                            .catch(err => {
                                console.log(err);
                                e.preventDefault();
                                item.textContent = err;
                            });
                        }
                    })

                    if (item.childElementCount < 1) {
                        item.append(input);
                        if (childList) {
                            item.removeChild(childList)
                        }
                    }
                });
            }
        </script>
    </body>
</html>